$light-green: hsl(148, 38%, 91%);
$green: hsl(169, 82%, 27%);
$red: hsl(0, 66%, 56%);
$white: hsl(0, 0%, 100%);
$medium-grey: hsl(186, 15%, 59%);
$dark-grey: hsl(187, 24%, 22%);

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//presets
body{
    background-color: $light-green;
    font-family: Karla;
    font-size: 16px;
    transition: 1s;
}

@font-face {
    font-family: Karla;
    src: url(/assets/fonts/Karla-VariableFont_wght.ttf);
}

@mixin width($width-property1){
    width: $width-property1;
}

%input-slide{
    padding: 1em;
    border: 1px solid $medium-grey;
    border-radius: 0.5em;
}


h1{
    color: $dark-grey;
    padding-bottom: 1em;
}

label{
    display: block;
    padding-bottom: 10px;
}

.star{
    color: $green;
}

.form-cont{
    background-color: $white;
    padding: 2em;
    border-radius: 0.85em;
    width: 60vw;
    margin: auto 20vw;

    @media (max-width: 63em) {
        width: 90vw;
        margin: auto 5vw;
    }

    @media (min-width: 84em) {
        width: 50vw;
        margin: auto 25vw;
    }

}

.error{
    color: $red;
    padding-top: 0.4em;
    display: none;
}

.persona{
    display: flex;
    flex-wrap: wrap;

    input{ @include width(100%); }

    .firstNameBox{
        flex-basis: 100%;
        input{
            @extend %input-slide;
        }
        @media (min-width: 48em) {
            flex-basis: 48%;    
        }
    }

    .lastNameBox{
        flex-basis: 100%;
        input{@extend %input-slide;}
        @media (min-width: 48em) {
            flex-basis: 48%;    
        }
    }

    .emailBox{
        flex-basis: 100%;
        input{@extend %input-slide;}
    }

    @media screen and (max-width: 47em) {
        > :nth-child(n) + :nth-child(n){
            margin-top: 1.25em;
        }   
    }
    

    @media (min-width: 48em) {
        > :nth-child(2n){
            margin-left: 4%;
        }

        > :nth-child(3n){
            margin-top: 1.5em;
        }
    }
}

.queryBox{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.75em;

    input{ @include width(2em); }

    label{padding-bottom: 15px;}

    #general-enquiry, #support-request{
        display: flex;
        flex-basis: 100%;
        gap: 1em;
        @extend %input-slide;
        padding: 0.75em;
        @media (min-width: 48em) {
            flex-basis: 48%;    
        }
    }

    > label{
        flex-basis: 100%;
    }

    @media screen and (max-width: 47em) {
        > :nth-child(2n) + :nth-child(n+3){
            margin-top: 1em;
        }   
        margin: 1.25em auto -0.75em auto;
    }

    @media (min-width: 48em) {
        > :nth-child(3n){
            margin-left: 4%;
        }
    }
}

.message-box{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    textarea{
        @extend %input-slide;
        height: 8em;
    }
}